<h2>技术积分的作用</h2>
<hr/>
<p>年终的时候一分一万块。<em>骗你的，暂时没什么用。以后可能有点用。升职加薪，迎娶白富美，走上人生巅峰...</em></p>
<h2>技术积分的获取途径</h2>
<hr/>
<ul>
	<li>技术分享</li>
	<li>读书</li>
	<li>发表博客</li>
	<li>LeetCode刷题</li>
	<li>stackoverflow刷分</li>   
	<li>等等</li>
</ul>
<hr/>
<h2>技术交流规则</h2>
<ul>
	<li>每月一期技术分享</li>
	<li>每期技术分享由固定主题和自选主题构成，主题尽量不要和往期分享重复</li>
	<li>每人必须上报一个自选主题或报名参加必选主题，如截止时间没有收到自选主题，则默认报名必选主题</li>
	<li>自选主题上报后每人对主题投票，选出你最想听的两个主题（QQ投票限制），不能选择自己的主题</li>
	<li>得票最多的主题由分享人在当期分享，如多人提交类似主题得票最多，则在对应提交人中抽取</li>   
	<li>没有得票的主题下期分享人必须更换主题，得票数不足两票的人，自动参加必选主题抽签</li>
	<li>如果必选主题报名人数大于一人，则抽取一人做必选主题分享</li>
	<li>分享结束后，会有大大的物质奖励</li>
	<li>前两期分享人可不参与主题上报和抽签</li>
</ul>





 

