<!DOCTYPE html>
<html ng-app="com.linkage.tech">
 
<head>
  <title>Todo App</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
 
  <script type="text/javascript" src="/lib/angular.min.js"></script>
  <script type="text/javascript" src="/lib/angular-route.min.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/services/factory.js"></script>
  <script type="text/javascript" src="/javascripts/controllers/controllers.js"></script>
  <script type="text/javascript" src="/javascripts/components/rateingDirective.js"></script>
</head>
 
<body>
  <div class="container">
    <h1>Tech-Points</h1>
    <hr/>
    <ng-view></ng-view>
  </div> 
</body> 
</html>
